* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.glass {
    background: white;
    min-height: auto;
    min-height: auto;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    position: absolute;
    top: 20px;
    left: 30%;
}

nav {
    background: white;
    min-height: auto;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: .75rem;
    backdrop-filter: blur(2rem);
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

th {}

title {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

div {
    color: #292828;
    font-weight: 600;
    font-size: 1rem;
    opacity: .95;
}